body
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:whitesmoke;
}
.top
{
  position: fixed;
  top:0;
  width: 100%;
  height: 70px;
  background-color: black;
}
.title
{
  display: block;
  width:300px;
  background-color: red;
  margin: 0 auto;
}
.navlink .active
{
  border: 1px solid white;
  background-color: #02C39A;
  color:black;
}
.sitename
{
  float: left;
  margin-bottom: 10px;
  color:#02C39A;
  text-shadow: 1px 1px 2px #02C39A;
  padding: 1px 0px 1px 40px;
}
.navlink
{
  float:right;
  margin-right: 50px;
  margin-top: 6px;
}
.content
{
  clear: both;
  width:100%;
  margin-top: 100px;
}
.item
{
  width:72%;
  margin:0 auto;
  margin-top: 12px;
  padding:10px;
  display: block;
  border: 1px solid;
  background-color: #FFF;
}
.item input
{
  color:#666;
  border: 1px solid;
  border-color: #666;
  background-color: inherit;
  font-size: 14px;
  padding: 5px;
}
.item input:hover
{
  border: 3px solid black;
  border-style: double;
  color:black;
}
.item a
{
  color:black;
  text-decoration: none;
}
.page-item
{
  float:left;
  margin-top: 15px;
  margin-left: 230px;
  width: 100px;
  height: 15px;
  padding: 5px;
  border: 1px solid;
  border-color: #444;
  margin-bottom: 30px;
}
.navlink a
{
  display: block;
  text-align: left;
  padding: 5px;
  font-size: 20px;
  text-decoration: none;
  /*
  border: 2px solid white ;
  border-radius: 5px;
  */
}
.navlink a:focus
{
  border-bottom: 1px solid white;
  border-style: double;
}
.navlink a:hover
{
  cursor: pointer;
  border-bottom: 1px solid white;
}
.navlink a:active
{
  border-bottom: 1px solid white;
}
.navlink a
{
  margin-top:10px;
  text-align: center;
  padding: 5px;
  color:#02C39A;
  font-weight: bold;
  background-color: black;
  font-size: 18px;
  border:1px solid black;
  box-shadow: 0 0 4px rgba(0, 0, 0, .07), 0 0px 8px rgba(0, 0, 0, .14);
}
p
{
  color:grey;
}
.pagination a
{
  text-align: center;
  color: black;
  text-decoration: none;
}
.rating_box
{
  margin-top: 150px;
  width:auto;
}
