{% block content %}
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale = 1.0">
<link href="https://fonts.googleapis.com/css?family=Droid+Serif|Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/allcourses.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static "js/main.js" %}"></script>
<title> CourseMatch </title>
<body>

    <div class="top">
        <div class="sitename">
        <a href="/all/"> <h2> Course Match </h2> </a>
        </div>
        <div class="navlink">
            <a  href = "/recommendation/" {%if title == "Recommedations" %} class="active" {%endif%}>Recommendations</a>
          </div>
          <div class="navlink">
            <a href = "/all/" {%if title == "Courses"%} class="active" {%endif%} >Courses </a>
        </div>
        <div class="navlink">
          <a href = "/logout/">Logout </a>
      </div>
  </div>

  <a id="page-help" href="rating.html" >what is this?</a>
  <div></div>

<div class="content">
  {% for x in list1%}
  <div class="item">
    <div class="course_name">
      <a href="{{x.homepage}}">{{x.title}}</a>
    </div>
    <div>
    <p> {{x.short_summary}} </p>
    </div>
    <form action="/{{x.id}}/rating/" class="userd">
        <input type="submit" value="Add Ratings" />
    </form>
  </div>
  {% endfor %}
<nav aria-label="Page navigation example">
  <div class="pagination">
    {% if list1.has_previous %}
    <div class="page-item"><a href="?page={{ list1.previous_page_number }}">Previous</a></div>
            {% endif %}
    <div class="page-item"><span class="current">
        Page {{ list1.number }} of {{ list1.paginator.num_pages }}.
    </span></div>

    {% if list1.has_next %}
        <div class="page-item"><a href="?page={{ list1.next_page_number }}">Next</a></div>
    {% endif %}
  </div>
</nav>
</div>
</body>
{% endblock content%}
