{% block content %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Droid+Serif|Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/style3.css" />
<link href="/static/quoteapp/css/bootstrap.min.css" rel="stylesheet" media="screen">
<div class="item">
<form method="POST" action=''>{% csrf_token %}
{{form}}
<input type="submit"></input></p>
</form>
</div>
<div class="item">
  <h4>Register if you are not a user.</h4>
  <form action="/register/">
    <input class = "submit" type="submit" value="Register" />
  </form>
</div>
{% endblock content%}
