{% block content%}
<link rel="stylesheet" type="text/css" href="/static/style2.css" />
<div class="item">
<form method="POST" action=''>{% csrf_token %}
{% for field in form %}
<p>Review </p>
<input id = "review" type="text" name="{{field.name}}" value="{{field.form.initial.label.label}}"  />
{% endfor %}
<br>
<p>Rating</p>
<input type = "radio" name = "rating" id = "checks[]" value="1" checked></input>
<input type = "radio" name = "rating" id = "checks[]" value="2" ></input>
<input type = "radio" name = "rating" id = "checks[]" value="3"  ></input>
<input type = "radio" name = "rating" id = "checks[]" value="4" ></input>
<input type = "radio" name = "rating" id = "checks[]" value="5" ></input>
<p class="submit"><input type="submit"></input></p>
</form>
</div>
{% endblock content%}
