{% block content%}
<link rel="stylesheet" type="text/css" href="/static/allcourses.css" />
<link rel="stylesheet" type="text/css" href="/static/style3.css" />
<div class="top">
    <div class="sitename">
    <h2> Course Match </h2>
    </div>
    <div class="navlink">
        <a  href = "/recommendation/" {%if title == "Recommedations" %} class="active" {%endif%}>Recommendations</a>
      </div>
      <div class="navlink">
        <a href = "/all/" {%if title == "Courses"%} class="active" {%endif%} >Courses </a>
    </div>
</div>
<div class="box">
  <form method="POST" action=''>{% csrf_token %}
    {% for field in form %}
    <p>Review </p>
    <div class="review">
    <input class="review" type="text" name="{{field.name}}" value="{{field.form.initial.previous_data.review}}"  />
  </div>
    {% endfor %}
    <p>Rating</p>

    {% for value in "12345" %}
    <input type = "radio" name = "rating" value= "{{ forloop.counter0 }}" {% if forloop.counter0 == previous_data.rating %}
    checked
    {%endif%}> </input>
    {% endfor %}
    <div>
    <input class="submit" type="submit"></input>
  </div>
  </form>
</div>
{% endblock content%}
